.App {
  text-align: center;
  background-color: grey;
}

.wrapper {
  margin: 40px auto;
}

.submit-button {
  margin-top: 16px !important;
}

.prompt-suggestions {
  padding: 8px;
}

.prompt-suggestions h5 {
  margin-bottom: 8px;
}

.prompt-suggestions ul {
  margin: 8px 0;
  padding-left: 1.5em;
  list-style: square;
}

.prompt-suggestions ul li::marker {
  font-size: 0.75em;
}