.App {
  text-align: center;
  background-color: grey;
}


.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.prompt-sender__form {
  display: flex;
  flex-direction: column;
}
